.movies__card {
  width: 270px;
  height: 226px;
  margin-top: 25px;
  border-radius: 30px;
  position: relative;
}
.movies__card > img {
  height: 174px;
  width: 280px;
  border-radius: 15px;
}
.movies_card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin-top: 7px;
}
.card-imagess {
  background-size: cover;
}
